.heading{
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  color: #fff;
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  font-size: 42px;
}
h3{
  color: #fff;
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  font-size: 26px;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 0;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.div{
  margin: 10px;
  padding: 20px;
  flex: 1;
}
h2{
  font-family: 'Prompt', sans-serif;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 60px;
}
h4{
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
}
p{
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  width: 270px;
}

.btn{
  background-color: rgb(1, 31, 12);
  color: #fff;
  border: none;
  padding: 10px;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  width: 170px;
}

.addBtn{
  background-color: rgb(250, 253, 251);
  color: rgb(1, 31, 12);
  border: 2px solid rgb(1, 31, 12);
  padding: 10px;
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 25%;
  margin: 25px;
}

.moreBtn{
  border: none;
  background-color: #fff;
  text-decoration: underline;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 750px){
  .addBtn{
    width: 80%;
  }
  .div{
    text-align: center;
  }
  h1{
    font-size: 30px;
  }
  h3{
    font-size: 16px;
  }
}